.featured-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Ajusta el tamaño mínimo de las columnas a 160px */
    gap: 70px; /* Espacio entre los productos */
    padding: 20px; /* Espacio interno */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
  }
  
  /* Ajuste para pantallas medianas */
  @media (max-width: 1200px) {
    .featured-products {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo de las columnas a 180px */
      gap: 50px; /* Espacio entre los productos */
    }
  }
  
  @media (max-width: 800px) {
    .featured-products {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo de las columnas a 200px */
      gap: 30px; /* Espacio entre los productos */
    }
  }
  
  @media (max-width: 568px) {
    .featured-products {
      grid-template-columns: repeat(2, 1fr); /* Dos productos por línea en pantallas de móviles */
    }
  }
  
  
  /* Animación de aparición */
  .product-card-wrapper {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .product-card-wrapper.visible {
    opacity: 1;
    transform: translateY(0);
  }