:root {
  --color-banner: ;
  --color-text-banner: ;
}

.header {

  color: var(--color-text-banner) !important;
  text-align: center;
  padding: 10px;
}

.rfm-marquee {
  background-color: var(--color-banner) !important;
}