:root {
  --color-background: #f7e4bd;
  --color-text: rgba(26, 16, 16, 0.75);
  --color-text-hover: rgba(255, 255, 255, 1);
  --color-navbar-bg: #f7e4bd;
  --color-offcanvas-bg: #f7e4bd;
  --color-button-bg: #d41f1f;
  --color-button-hover: #d2c2a1;
  --color-icon: rgb(21, 17, 17);
  --color-icon-hover: rgba(255, 255, 255, 0.75);
}

/* Navbar styles */
.navbar-dark .navbar-nav .nav-link {
  color: var(--color-text) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--color-text);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--color-text-hover) !important;
}

.navbar {
  background-color: var(--color-navbar-bg) !important;
}

/* Icon styles */
.navbar .nav-link .fa,
.button .fa {
  color: var(--color-icon) !important;
  transition: color 0.3s;
}

.navbar .nav-link:hover .fa,
.button:hover .fa {
  color: var(--color-icon-hover) !important;
}

.offcanvas {
  background-color: var(--color-offcanvas-bg) !important;
  transition: visibility 0s, opacity 0.5s linear;
  margin-top: 105px;
}

.offcanvas.show {
  visibility: visible;
  opacity: 1;
}

.offcanvas-header .btn-close {
  filter: invert(1);
}

.offcanvas-body {
  padding: 0px !important;
}

.offcanvas-body .nav-link {
  font-size: 1.425rem;
  margin: 10px 0;
  margin-left: 15px;
  color: var(--color-text) !important;
}

.offcanvas-social {
  background-color: var(--color-background);
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}

.offcanvas-social .social-icon {
  color: var(--color-icon) !important;
  margin: 0 35px;
  font-size: 1.5rem;
}

.search-bar {
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  background: var(--color-background);
  padding: 10px;
  border-bottom: 1px solid var(--color-offcanvas-bg);
  z-index: 1030;
  transition: top 0.4s ease-in-out;
}

.search-bar.search-bar-open {
  top: 105px;
}

.search-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  flex: 1;
  margin-right: 10px;
  border: 1px solid var(--color-offcanvas-bg) !important;
  border-radius: 4px;
  background: var(--color-offcanvas-bg) !important;
  color: var(--color-text-hover);
  padding: 8px;
}

.search-bar button {
  border: none;
  background: var(--color-button-bg) !important;
  color: var(--color-text-hover) !important;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background: var(--color-button-hover) !important;
}



.button.btn, .btn-primary {
  background-color: transparent !important; /* Makes the background transparent */
  color: var(--color-text) !important; /* Sets the text color */
  border: none !important; /* Removes the border */
}

.button:hover, .navbar .button.btn:hover, .btn-primary:hover {
  background-color: var(--color-button-hover) !important;
}
