:root {
  --color-background-shopnow: #f7e4bd;
  --color-text-border-shopnow: rgba(26, 16, 16, 0.75);
}

.promo-banner {
  text-align: center;
  padding: 0;
  background-color: #fff;
  position: relative; /* Necesario para el posicionamiento absoluto de los elementos */
}

.promo-video {
  width: 100%;
  overflow: hidden;
}

.promo-video img {
  width: 100%;
  height: auto;
  display: block;
}

.promo-video video {
  width: 100%;
  height: auto;
  display: block;
}

.promo-content {
  position: absolute;
  top: 45%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición exacta para centrar */
  color: #ffffff; /* Color de texto blanco para que destaque sobre la imagen */
}





.shop-now {
  background-color: var(--color-background-shopnow);
  color: var(--color-text-border-shopnow);
  border: 2px solid var(--color-text-border-shopnow);
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 10px;
}

.shop-now:hover {
  background-color: #f8d7da;
}

.promo-banner p {
  margin: 10px 0;
}



.carousel-fullscreen {
  width: 100vw; /* Ocupa todo el ancho de la ventana */
   /* Ocupa todo el alto de la ventana */
  max-height: 500px;
  min-height: 490px;
  overflow: hidden;
}

.carousel-item {
  width: 100%;
  max-height: 500px;
  min-height: 490px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir todo el área, recortando si es necesario */
}
