.promo-banner {
    text-align: center;
    padding: 0; /* Elimina el padding del contenedor */
    background-color: #fff; /* Ajusta el fondo si es necesario */
  }
  
  .promo-video {
    width: 100%;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    height: 190px;
  }
  
  .promo-video video {
    width: 100%; /* Hace que el video ocupe el 100% del ancho */
    height: auto; /* Mantiene la proporción del video */
    margin-top: 0; /* Asegura que no haya margen superior */
    margin-left: 0;
    display: block; /* Elimina el espacio inferior de los elementos inline */
  }
  
  .shop-now {
    background-color: #ffffff; /* Fondo blanco */
    color: #d41f1f; /* Color del texto rojo */
    border: 2px solid #d41f1f; /* Borde rojo de 2px */
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50px; /* Bordes redondeados */
    margin-top: 25px;
  }
  
  .shop-now:hover {
    background-color: #f8d7da; /* Fondo rojo claro al hacer hover */
  }
  
  .promo-banner p {
    margin: 10px 0; /* Ajusta el margen de los párrafos */
  }
  